# Gradle
.gradle/
/build/
/run/
/*/build/
/*/run/

# IntelliJ

*.iml
*.ipr
.idea/

# Eclipse
/.settings/
/.classpath
/.factorypath
/bin/
*.launch
/*/.settings/
/*/.classpath
/*/.factorypath
/*/bin/

# macOS

.DS_Store

# CI test server
testserver/
/.apt_generated/
/.apt_generated_tests/
